.card {
    position: relative;

    flex-basis: calc(25% - 1rem);
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 0.5rem;
    padding: 1rem;

    max-width: calc(25% - 1rem);

    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

    transition: transform 150ms ease-in-out;

    box-sizing: border-box;
}

.name,
.description {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    overflow-wrap: break-word;
}

.name {
    font-size: 1.25rem;
    font-weight: bold;
}

.description {
    color: var(--gray);

    margin-bottom: 1rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon {
    color: var(--error);

    &.completed {
        color: var(--success);
    }
}

.edit {
    display: flex;
    justify-content: flex-end;

    & > :not(:last-child) {
        margin-right: 1rem;
    }

    button {
        padding: 0;
    }

    .pen,
    .play {
        color: var(--secondary);
    }
}

.button {
    position: absolute;
    top: 0;
    right: 0;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    transform: translate(50%, -50%) scale(0);

    transition: transform 150ms ease-in-out;

    &.hovering {
        transform: translate(50%, -50%) scale(1);
    }
}