@import "../../../styles/colors";

.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 0rem;
}

.container {
    font: inherit;
}

.circle:hover {
    cursor: pointer;
}

.left {
    overflow: scroll;

    width: 20%;
    height: 100%;
}

.center {
    flex: 1;

    background-color: rgb(233, 233, 233);
}

.bottom {
    display: flex;
    flex-direction: row;

    border-top: 1px solid $creation;
}

.content {
    display: flex;
    flex-direction: row;

    height: 80vh;
}
