@import "../../../styles/colors";

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding: 0.5rem 0rem;
    width: 100%;

    border-bottom: 1px solid #e0e0e0;
}

.container {
    display: flex;

    font: inherit;

    height: 100vh;
}

.circle:hover {
    cursor: pointer;
}

.left {
    flex-basis: 20%;

    overflow-y: scroll;

    height: 100%;
}

.center {
    flex: 1;

    background-color: rgba(0, 0, 0, 0.05);
}

.bottom {
    display: flex;
    flex-direction: row;

    border-top: 1px solid $creation;
}

.content {
    display: flex;
    flex-direction: column;

    width: 80%;
}
