@import "../../../styles/colors";

.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 0rem;

    border-bottom: 1px solid #e0e0e0;
}

.container {
    font: inherit;
}

.circle:hover {
    cursor: pointer;
}

.left {
    overflow: scroll;

    width: 20%;
    height: 100%;

    border-right: 1px solid #e0e0e0;
}

.center {
    flex: 1;

    background-color: rgb(247, 247, 247);
}

.rightTop {
    border-bottom: 1px solid $creation;
}

.rightBottom,
.rightTop {
    display: flex;
    flex-direction: row;
    height:37.5vh;
}

.bottom {
    display: flex;
    flex-direction: row;

    border-top: 1px solid $creation;
}

.content {
    display: flex;
    flex-direction: row;

    height: 80vh;
}
