.add {
    display: flex;
    margin:auto;
    margin-top: 2rem;
}

.item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    border: 1px solid #000000;
    border-radius: 10px;
    width: 100%;

    padding: 1rem;

    background-color: #ffffff;
}

.title {
    margin: 0;
}

.scroller {
    overflow-x: auto;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &::-webkit-scrollbar {
        display: none;
    }

    &.center {
        justify-content: center;
    }
}

.dependencies {
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}
