.add {
    display: flex;
    margin:auto;
    margin-top: 2rem;
}

.item {
    display: flex;
    margin:auto;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:7rem;
}

.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.save {

}