.container {
    z-index: 9000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.spinner {
    font-size: 3rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.text {
    color: rgb(112, 112, 112);
    font-size: 1.5rem;
}
