.container {
    z-index: 10000;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    max-height: 100vh;

    background-color: var(--white);

    opacity: 0;

    transition: opacity 150ms ease-in-out;

    &.show {
        opacity: 1;
    }
}

.top {
    z-index: 10000;

    display: flex;
    justify-content: space-between;

    padding: 2rem;

    background-color: var(--primary);
    color: var(--white);
}

.heading {
    font-size: 2.5rem;

    margin: 0;
    margin-bottom: 0.5rem;
}

.close {
    cursor: pointer;

    border: none;
    background: transparent;

    color: var(--white);
    font-size: 1.5rem;
}

.content {
    padding: 3rem 0;
}
