.spinner {
    font-size: 1.5rem;
    line-height: 1;

    i {
        animation: Spinner 750ms linear infinite;
    }
}

@keyframes Spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
