.indicator {
    z-index: 9999;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 3px;

    background-color: #fee140;
    background-image: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
    background-size: 300% 300%;

    opacity: 0;

    animation-name: Indicator;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

    transition:
        opacity 300ms ease-in-out;

    &.active {
        opacity: 1;
    }
}

@keyframes Indicator {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
