.container {
    position: relative;

    height: 100%;
}

.header {
    margin-bottom: 1rem;
}

.description {
    color: var(--darkened);
}

.measurement {
    align-items: center;
}

.amount {
    text-align: right;

    width: 7rem;
}

.items {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.item {
    cursor: pointer;

    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.01);

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    transition:
        background-color 150ms ease-in-out,
        border-color 150ms ease-in-out;

    &.selected {
        background-color: var(--white);
        border-color: var(--primary);
    }
}

.actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
}
