.error {
    color: var(--error);
}

.container {
    position: relative;

    height: 100%;
}

.header {
    margin-bottom: 1rem;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.search {
    padding: 0.4rem 1rem;
}

.description {
    color: var(--darkened);
}

.measurement {
    align-items: center;
}

.amount {
    text-align: right;

    width: 7rem;
}

.items {
    overflow-y: scroll;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem;

    max-height: 300px;
}

.item {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.01);

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    transition:
        background-color 150ms ease-in-out,
        border-color 150ms ease-in-out;

    &.selected {
        background-color: var(--white);
        border-color: var(--primary);
    }
}

.image {
    width: 150px;
    height: 150px;

    img {
        max-width: 100%;
        max-height: 100%;

        object-fit: contain;
    }
}

.actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
}
