@import "../../../../styles/colors";

.error {
    color: var(--error);
}

.container {
    display: flex;
}

.form {
    flex: 1;
}

.header {
    margin-bottom: 1rem;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.search {
    padding: 0.4rem 1rem;
}

.description {
    color: var(--darkened);
}

.measurement {
    align-items: center;
}

.amount {
    text-align: right;

    width: 7rem;
}

.items {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.item {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.01);

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    transition:
        background-color 150ms ease-in-out,
        border-color 150ms ease-in-out;

    &.selected {
        background-color: var(--white);
        border-color: var(--primary);
    }
}

.image {
    width: 100px;
    height: 100px;

    img {
        max-width: 100%;
        max-height: 100%;

        object-fit: contain;
    }
}

.actions {
    $primary: map-get($colors, "primary");

    flex-basis: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--primary);

    margin-left: 1rem;
    padding: 1rem;
    border-radius: 10px;

    background-color: rgba($primary, 0.1);
}

.details {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-amount {
    font-family: monospace;
}

.details-name {
    font-size: 1.2rem;
}
