.form {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.actions {
    display: flex;
    justify-content: flex-end;

    & > *:not(:last-child) {
        margin-right: 0.5rem;
    }
}
