@import "../../styles/colors";

.base {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;

    color: var(--white);
    font: inherit;
    text-align: center;

    background-color: $primary;
    padding: 0.6rem 1.1rem;

    border: 1px solid $primary;
    border-radius: 5px;

    transition:
        border-color 150ms ease-in-out,
        background-color 150ms ease-in-out;

    &:not(.no-hover):hover {
        $darkened: darken($primary, 10%);

        background-color: $darkened;
        border-color: $darkened;
    }

    &:focus {
        outline: lightblue solid 1px;
    }

    &.inverted {
        color: $primary;
        background-color: transparent;

        &:not(.no-hover):hover {
            color: var(--white);
            background-color: $primary;
            border-color: $primary;
        }
    }
}
