@import "../../styles/colors";

.base {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;

    color: var(--white);
    font: inherit;
    line-height: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $primary;
    padding: 0.65rem 1rem;

    border: 1px solid $primary;
    border-radius: 5px;

    transition:
        border-color 150ms ease-in-out,
        background-color 150ms ease-in-out;

    &:not(.no-hover):hover {
        $darkened: darken($primary, 10%);

        background-color: $darkened;
        border-color: $darkened;
    }

    &:focus {
        outline: -webkit-focus-ring-color auto 5px;
    }

    &.inverted {
        color: $primary;
        background-color: transparent;

        &:not(.no-hover):hover {
            color: var(--white);
            background-color: $primary;
            border-color: $primary;
        }
    }

    & > span:first-child {
        margin-right: 0.5rem;
    }
}
