.card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: 2px solid black;
    margin: 10px;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
    padding:10px;
    margin: auto;
}

.description {
    padding:0px 10px 20px;
    margin:auto;
}

.edit {
    padding: 5px;
    margin: auto;
}