.card {
    flex-basis: calc(20% - 1rem);
    display: flex;
    flex-direction: column;

    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    background-color: var(--white);

    transition:
        background-color 150ms ease-in-out,
        transform 150ms ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.name {
    font-size: 1.25rem;
    font-weight: bold;
}

.button {
    position: absolute;
    top: 0;
    right: 0;

    transform: translate(50%, -50%) scale(0);

    transition: transform 150ms ease-in-out;

    &.hovering {
        transform: translate(50%, -50%) scale(1);
    }
}