@import "../../styles/colors";

.container {
    $black: map-get($colors, "black");

    border-radius: 5px;

    margin: -0.25rem;
    padding: 0.5rem;

    transition: background-color 100ms ease-in-out;

    &:not(.disabled) {
        &:hover {
            background-color: rgba($black, 0.03);
        }

        &.active {
            background-color: rgba($black, 0.1);
        }
    }
}

.text {
    flex-grow: 1;

    font-weight: bold;
    line-height: normal;

    margin: 0;
    padding: 0;
}

.editing {
    box-sizing: border-box;
    background-color: transparent;
    border: none;

    &:active,
    &:focus {
        outline: none;
    }
}
