@import "../../styles/colors";

.textfield {
    font: inherit;
    line-height: 1;

    padding: 0.65rem 1rem;

    border: 1px solid var(--gray);
    border-radius: 5px;

    transition:
        border-color 150ms ease-in-out;

    &::placeholder {
        color: var(--gray);
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:focus {
        border-color: var(--primary);
    }
}

.textarea {
    resize: none;
}
