.form {
    display: grid;
    grid-template-rows: auto;
    row-gap: 1rem;
}

.question {
}

.roles {
    display: flex;
}

.choice {
    flex-basis: 10rem;

    display: flex;
    align-items: center;

    & > input {
        margin-right: 0.5rem;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link {
    color: var(--white);

    width: 100%;
}

.message {
    margin:auto;
    padding: 1rem;
}